# Environment
.env
.env.*

# Laravel
/vendor/
/node_modules/

# Storage
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Docker
docker-compose.override.yml

# Backup
/backups/*

# OS
.DS_Store
Thumbs.db